<ion-pane>
    <ion-content ng-controller = "createRoom">
        <div>
            <div class="h1 title">Create Room</div>
        </div>
        <div align="center">
          Welcome to the Room creation
        </div>
        <br>
        <br>
        <div class="list padding">
            <label class="item item-input item-floating-label">
                <input type="text" placeholder="Enter your name" ng-model = "player1" id = "player1">
            </label>
            <br>
            <div align="center">
              <button class="button button-positive activated" ng-click = "generateRoomId()">Go</button>
            </div>
        </div>
    </ion-content>
</ion-pane>
