<ion-pane>
    <ion-content ng-controller = "login">
        <div>
            <div class="h1 title">Dashboard</div>
        </div>
        <div align="center">
          Welcome to the Game
        </div>
        <br>
        <br>
        <div align="center">
          <button class="button button-positive activated" ng-click="goToCreateRoom()">Create Room</button>
        </div>
        <br>
        <div align="center">
          OR
        </div>
        <br>
        <div align="center">
          <button class="button button-positive activated" ng-click="goToJoinRoom()">Join Room</button>
        </div>
    </ion-content>
</ion-pane>
