<link rel="stylesheet" type="text/css" href="css/game.css">

<div class="content has-header" ng-controller="gameController" >
  <br>
  <br>
  <br>
  <div>
    <h2 id="turn">Its X turn</h2>
  </div>

  

  <div align="center">
  <div class="row">
    <div class="col">
      <div class="col-demo" id="box1"> dgsg</div>
    </div>
    <div class="col">
      <div class="col-demo"> </div>
    </div>
    <div class="col">
      <div class="col-demo"> </div>
    </div>
  </div>
  <div class="row">
      <div class="col">
        <div class="col-demo"> </div>
      </div>
      <div class="col">
        <div class="col-demo"> </div>
      </div>
      <div class="col">
        <div class="col-demo"> </div>
      </div>
    </div>
    <div class="row">
        <div class="col">
          <div class="col-demo"> </div>
        </div>
        <div class="col">
          <div class="col-demo"> </div>
        </div>
        <div class="col">
          <div class="col-demo"> </div>
        </div>       
    </div>
    </div>
</div>
